<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>StElement Demo</title>

     <!-- Include polyfills -->
     <script src="https://unpkg.com/@webcomponents/webcomponentsjs@^2.0.0/webcomponents-loader.js"></script>

     <script type="module">
      import '@polymer/iron-demo-helpers/demo-pages-shared-styles.js';
      import '@polymer/iron-demo-helpers/demo-snippet.js';
      import '../dist/index.js';
    </script>
  </head>
  <body unresolved>

  </body>
</html>